node_modules/
dist/
coverage/
test-results/
playwright-report/
.env
**/.DS_Store

# Terraform
.terraform/
*.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json